*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0px;
    overflow-x: hidden;
    cursor: url(Sandwich.png), auto;
    background-color: #f2f2f2;
}

.img{
    height: 100vh;
    background-image: url(https://i.redd.it/hvlgus80utd51.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    padding: 1em;
}
.img a{
    text-decoration: none;
    color: #f2f2f2;
}










/*nav bar*/
nav{
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #270c20;
}
  
li {
  float: left;
  margin: 0%;
}
.home{
    background-color: #f2f2f2;
    color: black;
}
.right{
    float: right;
}
.right img{
    height: 2em;
    padding: 0;
    border-radius: 2px;
    margin-top: 0.4em;
    margin-right: 0.5em;
}
.right a{
    padding: 0%;
}

li a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0%;
  justify-content: center;
  align-items: center;
}
.home a{
    color: #270c20;
}

li a:hover {
  background-color: #f2f2f2;
  color: #252424;
}

.right a:hover{
    background-color: #270c20;
}


li button{
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: 0;
    color: #f2f2f2;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    align-items: center;
}
li button:hover{
    color: #270c20;
    background-color: #f2f2f2;
}

li a:hover{
    color: #270c20;
}
button:active{
    opacity: 0.8;
}
#closeModal{
    background-color: #f2f2f2;
    color: #270c20;
}

.modal-inner{
    background-color: #f2f2f2;
    border-radius: 5px;
    border: solid black 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}
.modal-inner h2{
    margin: 0%;
}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;
}

.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -999;

    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    opacity: 1;
    z-index: 999;
}






.wrapper-s{
    margin: 0%;
    width: 100vw;
    background-image: url(https://assets.website-files.com/5dbaec16f510ee7b1c0004d6/5dcc6e3a8cfd6631cbf66546_grey-s-wave-top-wide.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #270c20;
    background-position-y: 2em;
}
.wrapper-s img{
    height: 35vh;
    width: 100vw;
}

.wrapper{
    margin: 0;
    padding: 0em;
    background-color: #f2f2f2;
    text-align: center;
}

.previusProjects h1{
    font-size: 3em;
    margin: 0%;
}

.previusProjects a{
    text-decoration-color: black;
    color: black;
    text-decoration-line: underline;
}   

.galleri{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.galleri img{
    height: 60vh;
    width: auto;
    border: solid black 2px;
}







.experience{
    color: #f2f2f2;
    margin: 2em 0;
    padding: 2em;
    background-image: url(https://assets.website-files.com/5dbaec16f510ee7b1c0004d6/5dce36ec792b96a2e7b40d11_contact-bg-blue.svg);
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
}

.experience h1{
    padding-top: 1.3em;
    font-size: 3em;
    margin-bottom: 0;
}

#subt{
    margin: 0.5em;
}

.bread{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.bread button{
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px black;
    min-height: 30px;
    margin-top: 1em;
}

.bread button:hover{
    cursor: pointer;
}



/*Me*/
.me{
    margin: 5% 15vw;
    background-color: #f2f2f2;
}

.me h1{
    margin-bottom: 2px;
}

.me h2{
    margin-top: 2px;
}

.family{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;

        grid-template-areas: 
        "fam1 fam2"
        "fam3 fam4";
}

#fam1{ grid-area: fam1;}

#fam2{ grid-area: fam2;}

#fam3{ grid-area: fam3;}

#fam4{ grid-area: fam4;}

.me img{
    height: 595.2px;
    width: 476.16px;
}

.container{
    position: relative;
    overflow: hidden;
}

.container:hover .t{
    top: 0;
}
.t{
    color: white;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.4s;
}




/* Fotter for kontakt info*/
.footer-s{
    background-image: url(https://assets.website-files.com/5dbaec16f510ee7b1c0004d6/5dcc6521881da452dbe6e7d1_footer-wave-nice.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
    width: 100vw;
    height: 25vh;
}

footer{
    background-color: #19057a;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    padding: 1em;
    padding-bottom: 10vh;
}
footer a{
    text-decoration: none;
    color: #f2f2f2;
}

footer div div{
    border-left: solid lightseagreen 1px;
    padding: 1em;
    font-size: 1.2em;
}






/*Mobil*/
@media(orientation: portrait){
    .wrapper-s{
        width: 100vw;
    }
    li button{
        display: none;
    }
    .galleri{
        flex-direction: column;
    }
    .bread{
        flex-direction: column;
    }
    .experience{
        height: 200vh;
    }
    .family{
        grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 10px;
    
            grid-template-areas: 
            "fam1" 
            "fam2"
            "fam3"
            "fam4";
    }
    .me{
        margin: 0;
    }
    .me img{
        width: fit-content;
    }
    footer{
        flex-direction: column;
        align-items: normal;
    }
}